/*
Abstract top, specific going down.
For now focus on functionality. We
can let someone else setup to make it
pretty
*/

/*Bootstrap*/
.topHead {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.navbar {
    background-color: #1a1a1a;
    padding: 0 !important;
}

/*Accordian from donate page*/
.card-body {
    background-color: #272B30;
}

.btn-bg-black {
    color: #aaa !important;
    text-align: left !important;
    background-color: #1a1a1a !important;
}

.btn-bg-black:hover {
    background-color:  !important;
}

#accordion {
    width: 50% !important;
}

#accordion img {
    width: 100%;
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
/*Accordian done*/

/*Setup constants on all pages*/
body {
    /*Default universal settings for page*/
    background-color: #272B30 !important;
    color: #aaa !important;
}

h1 img {
    /*This is the main header logo*/
    width: 50px;
    margin-left: 10px;
}




#playerlist {
    border-right: 2px solid lightgray;
    vertical-align: text-top;
    text-align: left;
    border-top: 2px solid lightgray;
    width: 12em;
}

#playerlist div {
    text-align: center;
    text-decoration: underline;
}

.player_icons {
    height: 1em;
    margin-bottom: -0.2em;
}

.specialnotice {
    font-family: Arial;
    font-size: .8em;
    color: yellow;
}

