{% include 'header.html' %}
            <div class="col-sm-10">
                <h2>Projects needing donation</h2>
                <div id="accordion">
                  <div class="card">
                        <button class="btn btn-bg-black" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                              <h5>
                                  > 2012 RS helper sites restoration:
                              </h5>
                            </div>
                        </button>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <div class="o-campaign-story mt-three-halves o-campaign-story--is-open" style="max-height: 1023px;">
                            <img src="https://d2g8igdw686xgo.cloudfront.net/49962862_1595820474994504_r.jpeg"><br>
                            <strong>What is this fund?</strong><br>
                            If this experiment is successful it may be possible to restore classic RS 2012 websites like tip.it, Sal's Realm, runehq and possibly a wiki if they are available on wayback machine.<br>
                            <br>
                            <strong>Does out community need to do work?</strong>
                            <br>I(jawarrior1) would do the heavy lifting and host the websites themselves, I just ask for a little help on the funding. If this exeriment is unsuccessful I will post the results on the Discord. If it is successful I will restore Sal's Realm and RuneHQ with similar funding at $15 each.<br><br>
                            <strong>Who can benefit?</strong>
                            <br>-Everyone on Darkan can enjoy RS 2012 more.
                            <br>-Trent may benefit in understanding RS 2012, which can help development<br><br>
                            <strong>What are the risks?</strong><br>
                            -Even restored the websites may not tell us anything new, so they may be completely useless.
                            <br>
                            -The restoration may come out a mess and be unusable.<br><br>
                            <strong>How will this be done?</strong><br>
                            An automated service automatically restores websites from WayBackMachine for $15 each. We take the website files and upload them to a cloud for our reference.<br>
                            <br>
                            Donation link: <a href = "https://www.gofundme.com/f/restore-2012-tipit-runescape-website?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1">GoFundMe.com</a>
                            <br>
                            Here is the 3rd party website: <a href="https://www.waybackmachinedownloader.com/en/wayback-and-archive-downloader-pricing/?browser=3nqq76m0rdv" target="_blank" class="" rel="nofollow noopener noreferrer">ArchivesDownloader.com</a>
                            <br>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card">
                        <button class="btn btn-bg-black" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header" id="headingTwo">
                                <h5>
                                      > DarkanTools web hosting
                                </h5>
                            </div>
                        </button>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>