{% include 'header.html' %}
<div class="col-sm-10">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/ge">GE</a>
      </li>
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/street">Street</a>#}
{#      </li>#}
{#       <li class="nav-item">#}
{#        <a class="nav-link" href="/upload">Upload</a>#}
{#      </li>#}
    </ul>
    <div class="row">
        <div class="col-sm-auto">
            <h3>Buy offers</h3>
            {% for buyOffer in geBuyOffers %}
                <img src="/images/{{ buyOffer['itemId'] }}.png"> {{ buyOffer['itemName'] }}: {{ buyOffer['amountLeft'] }} @ {{ "{:,}".format(buyOffer['pricePerItem']) }}GP Each<br>
            {% endfor %}
        </div>

        <div class="col-sm-auto">
            <h3>Sell offers</h3>
            {% for sellOffer in geSellOffers %}
                <img src="/images/{{ sellOffer['itemId'] }}.png"> {{ sellOffer['itemName'] }}: {{ sellOffer['amountLeft'] }} @ {{ "{:,}".format(sellOffer['pricePerItem']) }}GP Each<br>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>