{% include 'header.html' %}
<div class="col-sm-10">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/ge">GE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/street">Street</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/upload">Upload</a>
      </li>
    </ul>
                <p>
                CREATE A TABLE WITH SELL ON LEFT COLUMN AND BUY ON RIGHT, Also create a street page, 14 days, notice by email [ITEM] [QUANTITY] [GP] [DAYS] [NTOFICATION CHECK + EMAIL]
                <br><br>
                SELL<br>
                |     [ICON, medium]      |<br>
                |   X[QUANTITY, small]    |  USERNAME<br>
                |   [gp icon][GP Small]   |<br>
                <br><br>
                BUY<br>
                |     [ICON, medium]      |<br>
                |   X[QUANTITY, small]    |  USERNAME<br>
                |   [gp icon][GP Small]   |<br>
                </p>
            </div>
</body>
</html>