{% include 'header.html' %}
<div class="col-sm-10">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/grandexchange">GE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/street">Street</a>
      </li>
    </ul>
<div class="col-sm-10">
                <p>
                CREATE A TABLE WITH SELL ON LEFT COLUMN AND BUY ON RIGHT, Also create a street page, 14 days, notice by email [ITEM] [QUANTITY] [GP] [DAYS] [NTOFICATION CHECK + EMAIL]

                SELL
                |     [ICON, medium]      |
                |   X[QUANTITY, small]    |  USERNAME
                |   [gp icon][GP Small]   |

                BUY
                |     [ICON, medium]      |
                |   X[QUANTITY, small]    |  USERNAME
                |   [gp icon][GP Small]   |
                </p>
            </div>
</body>
</html>