{#Each page has an active variable from python which gives the navbar an "Active" state.#}
{#Most of this code is copied and rewritten from BS.#}
{#This header is going to be reused for every page.#}

<!doctype html>
<html lang="en">
<head>
    <!-- Default meta on html doc -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS Call is specific to Flask-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='pages.css') }}">

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--JS Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2be56c0c06.js" crossorigin="anonymous"></script>

    <!-- Titles, icons -->
    <link rel="icon" href="static/images/icons/{{ icon }}">
    <title>Darkan Tools</title>
</head>
<body>
{#Main header + menu#}
    <div class = "container-fluid px-0">
        <h1><img src="static/images/logo.png" id="brand">Darkan Tools</h1>
        <nav class="navbar navbar-expand-md navbar-dark">
            {#This is the hamburger#}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {#This is the dropdown "Darkan"#}
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link {{ home_active }}" href="/">Home<span class="sr-only">(current)</span></a>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Darkan
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://darkan.fandom.com/wiki/Darkan_Wiki">Wiki</a>
                  <a class="dropdown-item" href="https://www.reddit.com/r/2012scape/">Reddit</a>
                  <a class="dropdown-item" href="https://discord.com/invite/Z32ggEB">Discord <i class="fas fa-certificate" style="color: #43eb34"></i></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://darkan.org/">Official Website</a>
              </div>
                <a class="nav-item nav-link {{ ge_active }}" href="/ge">GE Tool</a>
                <a class="nav-item nav-link {{ tracker_active }}" href="/profile">XP Profiles</a>
                <a class="nav-item nav-link {{ donate_active }}" href="/donate">Donate</a>
            </div>
          </div>
        </nav>
        <div class="row no-gutters">
            <div class = "col-sm-2">
                <div class="topHead">Top Weekly</div>
                {% for player in player_list %}
                    {% if player == "No more XP registered!" %}
                        <span style="font-style: italic; color: red">{{ player }}</span>
                    {% else %}
                        <img src="{{ player_icons.pop(0) }}" class="player_icons">
                        <span style="text-decoration: underline;">{{ player[0].title() }}:</span> {{ player[1] }} XP<br>
                    {% endif %}
                {% endfor %}
            </div>