{% include 'header.html' %}
            <div class="col-sm-10">
                <h2>Welcome to Darkan Tools!</h2>
                <p>
                    This website runs for free 24/7 and automatically saves
                    all data top a cloud. No emails or passwords are saved
                    or used for safety. This is a pet project of Jawarrior1,
                    written in Python. There are some features which will
                    come in time, depending on the Udemy course I am going
                    through. I will not be revealing them as I am prioritizing
                    learning rather than timing.
                </p>
                <p>
                    If you have feature suggestions, which I appreciate, DM me
                    in the Darkan discord.
                </p>
                <img src="static/images/darkan.webp">
                <img src="/image.png">
            </div>
        </div>
    </div>
</body>
</html>





