{% include 'header.html' %}
            <div class="col-sm-10">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/profile">Profiler</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/compare">Compare</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                </ul>

            </div>
        </div>
    </div>
</body>
</html>