<!doctype html>
<html lang="en">
<head>
    <!-- Default meta on html doc -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS Call is specific to Flask-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='pages.css') }}">

    <!-- Titles -->
    <link rel="icon" href="static/images/icons/{{ icon }}">
    <title>Darkan Tools</title>
</head>
<body>
{#Main header + menu#}
    <h1><img src="static/images/logo.png">Darkan Tools</h1>
    <table id = "mainmenu">
        <tr>
            <td class = "mainbutton">
                <a href="/">Home</a>
            </td>
            <td class = "mainbutton">
                <a href="https://darkan.org/">Official site</a>
            </td>
             <td class = "mainbutton">
                <a href="https://darkan.fandom.com/wiki/Darkan_Wiki">Wiki page</a>
            </td>
            <td class = "mainbutton">
                <a href="/tracker">XP tracker</a>
            </td>
            <td class = "mainbutton">
                <a href='/register'>Register username</a>
            </td>
            <td>
                {#Left blank for more space#}
            </td>
        </tr>
    </table>
    <table class = "layout">
        <tr>
            <td id="playerlist">
                <div>Top Weekly</div>
                {% for each in player_list %}
                    <img src="{{ player_icons.pop(0) }}" class="player_icons">{{ each.title() }}<br>
                {% endfor %}
            </td>
            <td class = "maincontent">
                <h2>Register on Darkan Tools</h2>
                <p>
                  I try to make sure all active players are able to see their xp gains
                  on the site. Here you can add any existing player. I will not ask for
                  any emails or passwords, as your account safety is most important. In the
                  future I may do account verification through the API through some specific
                  process like, "kill a chicken NPC with a random amount of GP in your first
                  inventory slot, something like that.
                </p>

                <form name="newplayer" method="POST">
                  <label for="registration">Register a player:</label>
                  <input class = "registration" type="text" name="user_reg" placeholder="Username">
                  <input class = "registration" type="submit" value="Submit">
                  <div class="specialnotice">{{ result }}</div>
                </form>

                <form name="search player" method="POST">
                    <label for="search">Search players:</label>
                    <input class = "search" type="text" name="search_reg" placeholder="Username">
                    <input class = "search" type="submit" value="Submit">
                    <div class="specialnotice">{{ result2 }}</div>
                </form>


            </td>
        </tr>
    </table>
</body>
</html>
