<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <h1>Registration options</h1>
    <p>
      Why register? You can register any username for xp tracking and <br>
      other features on the website. In addition you can verify ownership<br>
      for more control, once features are implemented.
    </p>
    <p>
      I will not ask for any emails or passwords. Your account safety<br>
      is most important. In the future account verification will be done<br>
      through the API through some specific process like, "kill a chicken <br>
      NPC with a random amount of GP in your first inventory slot.
    </p>
    <p>
      Or, if you are a pure then you can option to wear a chef's hat and<br>
      have a random amount of gp. There are plenty of things we can do in<br>
      the future
    </p>

    <!-- <form name="verifyownership" method="GET">
      <label for="claimaccount">Account name: </label>
      <input class = "registration" type="text" placeholder="Username">

      <p>
        Verify account methods:
        <input type="radio" name="" value="">
      </p>
    </form> -->

    <form name="newplayer" method="GET">
      <label for="registration">Register a player:</label>
      <input class = "registration" type="text" name="" placeholder="Username">

      <input class = "registration" type="submit" value="Submit"
    </form>
  </body>
</html>
