<!doctype html>
<html lang="en">
<head>
    <!-- Default meta on html doc -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS Call is specific to Flask-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='pages.css') }}">

    <!-- Titles -->
    <link rel="icon" href="static/images/icons/{{ icon }}">
    <title>Darkan Tools</title>
</head>
<body>
{#Main header + menu#}
    <h1><img src="static/images/logo.png">Darkan Tools</h1>
    <table id = "mainmenu">
        <tr>

                <td class = "mainbutton">
                    <a href="/">XP tracker</a>
                </td>

            <td class = "mainbutton">
                <a href='/register'>Register username</a>
            </td>
            <td>

            </td>
        </tr>
    </table>
    <table class = "layout">
        <tr>
            <td id="playerlist">
                <div>Registered players</div>
                {% for each in player_list %}
                {{ each.title() }}<br>
                {% endfor %}
            </td>
            <td class = "maincontent">
                <h2>Registration options</h2>
                <p>
                  Why register? You can register any username for xp tracking and <br>
                  other features on the website. In addition you can verify ownership<br>
                  for more control, once features are implemented.
                </p>
                <p>
                  I will not ask for any emails or passwords. Your account safety<br>
                  is most important. In the future account verification will be done<br>
                  through the API through some specific process like, "kill a chicken <br>
                  NPC with a random amount of GP in your first inventory slot.
                </p>
                <p>
                  Or, if you are a pure then you can option to wear a chef's hat and<br>
                  have a random amount of gp. There are plenty of things we can do in<br>
                  the future
                </p>
                <!-- <form name="verifyownership" method="GET">
                  <label for="claimaccount">Account name: </label>
                  <input class = "registration" type="text" placeholder="Username">

                  <p>
                    Verify account methods:
                    <input type="radio" name="" value="">
                  </p>
                </form> -->

                <form name="newplayer" method="POST">
                  <label for="registration">Register a player:</label>
                  <input class = "registration" type="text" name="user_reg" placeholder="Username">
                  <input class = "registration" type="submit" value="Submit">
                  <div class="specialnotice">{{ result }}</div>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
