{% include 'header.html' %}
            <div class="col-sm-10">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" href="/profile">Profiler</a>
                  </li>
{#                  <li class="nav-item">#}
{#                    <a class="nav-link" href="/compare">Compare</a>#}
{#                  </li>#}
                  <li class="nav-item">
                    <a class="nav-link active" href="/register">Register</a>
                  </li>
                </ul>
                <p>
                  I try to make sure all active players are able to see their xp gains
                  on the site. Here you can add any existing player. I will not ask for
                  any emails or passwords, as your account safety is most important. In the
                  future I may do account verification through the API through some specific
                  process like, "kill a chicken NPC with a random amount of GP in your first
                  inventory slot, something like that.
                </p>

                <form name="newplayer" method="POST">
                  <label for="registration">Register a player:</label>
                  <input class = "registration" type="text" name="user_reg" placeholder="Username">
                  <input class = "registration" type="submit" value="Submit">
                  <div class="specialnotice">{{ result }}</div>
                </form>

                <form name="search player" method="POST">
                    <label for="search">Search players:</label>
                    <input class = "search" type="text" name="search_reg" placeholder="Username">
                    <input class = "search" type="submit" value="Submit">
                    <div class="specialnotice">{{ result2 }}</div>
                </form>

            </div>
</body>
</html>
