{% include 'header.html' %}
            <div class="col-sm-10">
                <h2>Sound Effects</h2>
                <p>I will periodically be updating this page</p>
                <p>
                    Send me a DM on Discord or Rune-server to update this list.
                    Discord: "Jesse G#2300"
                    Rune-server: "Jawarrior"
                </p>
                <p>
                    Click the number to play the sound:
                </p>
                <div class="col-sm-auto">
                    {% for sound in soundFiles %}
                        <span id = "soundtext" onclick="playAudio('static/essentialIgnored/effects/'+{{ sound[0] }}+'.mp3')">{{ sound[0] }}
                        {% if sound[1] == "" %}
                            <img src="static/images/xMark.png" width="10" height="10">
                        {% else %}
                            <img src="static/images/checkMark.png" width="10" height="10">{{ sound[1] }}
                        {% endif %}
                        </span>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</body>
</html>





