{% include 'header.html' %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/style.css') }}">
<script src="{{ url_for('static',filename='js/chatbox.js') }}"></script>
</head>

            <div class="col-sm-10">
                <h2>Sound Effects</h2>
                <p>Just insert the ID and the description in the chat box and I will update the webpage.</p>
                <section id="chat-box">
                    <section id="message-box">
                    </section>

                    <section id="input-box">
                        <input type="text" autofocus onkeypress="return isPressingEnter(event)" required placeholder="Enter chat message" id="message-input">
                        <button type="button" id="send-button" onclick="sendMessage()" >>></button>
                    </section>
                </section>

                <section id="nickname-box">
                    <label id="nickname-label" for="nickname-input">Nickname: </label>
                    <input type="text" id="nickname-input" autocomplete="off" value="Guest">
                </section>
                <div class="col-sm-auto">
                    {% for sound in soundFiles %}
                        <span id = "soundtext" onclick="playAudio('static/essentialIgnored/effects/'+{{ sound[0] }}+'.mp3')">{{ sound[0] }}
                        {% if sound[1] == "" %}
                            <img src="static/images/xMark.png" width="10" height="10">
                        {% else %}
                            <img src="static/images/checkMark.png" width="10" height="10">{{ sound[1] }}
                        {% endif %}
                        </span>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</body>
</html>





