{% include 'header.html' %}
    <div class="col-sm-10">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/ge">GE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/street">Street</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">Upload</a>
          </li>
        </ul>
        <p>
            Street used for many items at once
        </p>
    </div>
</body>
</html>