{% include 'header.html' %}
    <div class="col-sm-10">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/ge">GE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/street">Street</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/upload">Upload</a>
          </li>
        </ul>
        <p>
            Upload item pictures here to make the Darkan Tools GE better!
            Make sure the user uploads with the item_id in mind.
        </p>
    </div>
</body>
</html>